<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      >
    
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div >
             <div th:fragment="menuLateral" class="col-2  d-none d-md-block">
                <aside class="menu_opciones">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Opcion 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Opcion 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </aside>
            </div>

            
        </div>
    </body>
</html>
